
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contacto Bryam Piñeros</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <section class="encabezado">
            <div class="contenido">
                <div class="fotoDatos">
                    <div class="foto">
                        <a href="/"><img src="/images/foto_bryam.jpg" alt="Foto Bryam"></a>
                    </div>
                    <div class="datos">
                        <h1>Bryam Piñeros Hernández</h1>
                        <h2>Tecnólogo en Desarrollo de Software</h2>
                    </div>
                </div>
                <div class="botones">
                    <div class="boton"><a href="/estudios">Estudios</a></div>
                    <div class="boton"><a href="/experiencia">Experiencia Laboral</a></div>
                    <div class="boton"><a href="/referencias">Referencias Personales</a></div>
                    <div class="boton active"><a href="/contacto">Contacto</a></div>
                </div>
            </div>
        </section>
        <section class="apartado">
            <div class="titulo">
                <h3>
                    Contacto
                </h3>
            </div>
            <div class="formulario">
                <form action="/respuesta-formulario" method="GET">
                    <label for="nombre">Nombre</label><br>
                    <input type="text" name="nombre" id="nombre" placeholder="Coloque su nombre">
                    <label for="telefono">Teléfono</label><br>
                    <input type="text" name="teleofno" id="telefono" placeholder="Coloque su teléfono">
                    <label for="comentarios">Comentarios</label><br><br>
                    <textarea name="comentarios" id="comentarios" cols="30" rows="10">Escriba sus comentarios</textarea>
                    <div class="boton_enviar">
                        <button>Enviar</button>
                    </div>
                </form>
            </div>

            
            </div>

        </section>
    </body>
</html>