<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Estudios de Bryam Piñeros</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <section class="encabezado">
            <div class="contenido">
                <div class="fotoDatos">
                    <div class="foto">
                        <a href="/"><img src="/images/foto_bryam.jpg" alt="Foto Bryam"></a>
                    </div>
                    <div class="datos">
                        <h1>Bryam Piñeros Hernández</h1>
                        <h2>Tecnólogo en Desarrollo de Software</h2>
                    </div>
                </div>
                <div class="botones">
                    <div class="boton"><a href="/estudios">Estudios</a></div>
                    <div class="boton"><a href="/experiencia">Experiencia Laboral</a></div>
                    <div class="boton"><a href="/referencias">Referencias Personales</a></div>
                    <div class="boton active"><a href="/contacto">Contacto</a></div>
                </div>
            </div>
        </section>
        

          <section class="registro_exitoso">
              Muchas gracias por sus comentarios.
              <div class="link_volver">
                <a href="/contacto">Volver</a>
              </div>
          </section>
    </body>
</html>