<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Estudios de Bryam Piñeros</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <section class="encabezado">
            <div class="contenido">
                <div class="fotoDatos">
                    <div class="foto">
                        <a href="/"><img src="/images/foto_bryam.jpg" alt="Foto Bryam"></a>
                    </div>
                    <div class="datos">
                        <h1>Bryam Piñeros Hernández</h1>
                        <h2>Tecnólogo en Desarrollo de Software</h2>
                    </div>
                </div>
                <div class="botones">
                    <div class="boton active"><a href="/estudios">Estudios</a></div>
                    <div class="boton"><a href="/experiencia">Experiencia Laboral</a></div>
                    <div class="boton"><a href="/referencias">Referencias Personales</a></div>
                    <div class="boton"><a href="/contacto">Contacto</a></div>
                </div>
            </div>
        </section>
        <section class="apartado">
            <div class="titulo">
                <h3>
                    Estudios Realizados
                </h3>
            </div>
            <div class="contenido">
                <div class="item">
                    <span class="nombre">
                        BICTIA
                    </span>
                    <div class="titulo">
                        Developer Full Stack (2020)
                    </div>
                    <div class="direccion">
                        Calle 35 #5-15
                    </div>
                    <div class="web">
                        http://www.bictia.com
                    </div>
                </div>
                <div class="item">
                    <span class="nombre">
                        Escuela Tecnológica Instituto Técnico Central
                    </span>
                    <div class="titulo">
                        Tecnólogo en Desarrollo de Software (2020)
                    </div>
                    <div class="direccion">
                        Calle 13 #16-74. Bogotá
                    </div>
                    <div class="web">
                        http://www.itc.edu.co/es
                    </div>
                </div>
                <div class="item">
                    <span class="nombre">
                        Servicio Nacional de Aprendizaje - SENA
                    </span>
                    <div class="titulo">
                        Tecnólogo en Diseño Industrial (2014)
                    </div>
                    <div class="direccion">
                        Calle 30 #19. Bogotá
                    </div>
                    <div class="web">
                        http://www.sena.edu.co/
                    </div>
                </div>

            </div>

        </section>
    </body>
</html>