<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Experiencia de Bryam Piñeros</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <section class="encabezado">
            <div class="contenido">
                <div class="fotoDatos">
                    <div class="foto">
                        <a href="/"><img src="/images/foto_bryam.jpg" alt="Foto Bryam"></a>
                    </div>
                    <div class="datos">
                        <h1>Bryam Piñeros Hernández</h1>
                        <h2>Tecnólogo en Desarrollo de Software</h2>
                    </div>
                </div>
                <div class="botones">
                    <div class="boton"><a href="/estudios">Estudios</a></div>
                    <div class="boton active"><a href="/experiencia">Experiencia Laboral</a></div>
                    <div class="boton"><a href="/referencias">Referencias Personales</a></div>
                    <div class="boton"><a href="/contacto">Contacto</a></div>
                </div>
            </div>
        </section>
        <section class="apartado">
            <div class="titulo">
                <h3>
                    Experiencia Laboral
                </h3>
            </div>
            <div class="contenido">
                <div class="item">
                    <span class="nombre">
                        BTEL Publicidad -
                    </span>
                    <span class="cargo">
                        Desarrollador Full Stack
                    </span>
                    <div class="direccion">
                        Cll 42sur 31A - 03. Bogotá.
                    </div>
                    <ul>
                        <li> Desarrollo de soluciones web</li>
                    </ul>
                </div>
            </div>
            <div class="contenido">
                <div class="item">
                    <span class="nombre">
                        BTEL Publicidad -
                    </span>
                    <span class="cargo">
                        Diseñador Gráfico
                    </span>
                    <div class="direccion">
                        Cll 42sur 31A - 03. Bogotá.
                    </div>
                    <ul>
                        <li> Diseño personalizado.</li>
                        <li> Diseño para aplicaciones móviles.</li>
                        <li> Diseño de piezas gráficas para páginas web.</li>
                        <li> Diseño de piezas gráficas para impresión</li>
                    </ul>
                </div>
            </div>

        </section>
    </body>
</html>