<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perfil Profesional de Bryam Piñeros</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>


        <section class="principal_gc">
            <div class="principal_ct">
                <section class="principal">
                    <div class="datos">
                        <h1>Bryam Piñeros Hernández</h1>
                        <h2>Desarrollador de Software</h2>
                    </div>
                </section>
                <section class="resumen">
                    <div class="foto">
                        <img src="/images/foto_bryam.jpg" alt="Foto Bryam">
                    </div>
                    <div class="perfil">
                        Soy estudiante de segundo semestre de tecnología
                        en desarrollo de software de la jornada nocturna, con
                        capacidades para solucionar problemas gráficos y
                        lógicos orientados a la web, he trabajado como
                        diseñador gráfico, encargado de elaborar piezas
                        gráficas para sitios web entre otros, me encuentro
                        cursando un bootcamp en bictia donde he
                        desarrollado algunos proyectos consumiendo una
                        api-rest con Ajax y Fetch, la creación de un CRUD con
                        php entre otros proyectos que iremos desarrollando
                        durante las semanas. Interesado y dispuesto a
                        aprender en un ambiente laboral como programador
                        web frontend ó backend.
                    </div>
                </section>
                <section class="links">
                    <div class="botones">
                        <div class="boton"><a href="/estudios">Estudios</a></div>
                        <div class="boton"><a href="/experiencia">Experiencia
                                Laboral</a></div>
                        <div class="boton"><a href="/referencias">Referencias Personales</a></div>
                        <div class="boton"><a href="/contacto">Contacto</a></div>
                    </div>
                </section>
            </div>
        </section>

    </body>
</html>