<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Refrencias Personales de Bryam Piñeros</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <section class="encabezado">
            <div class="contenido">
                <div class="fotoDatos">
                    <div class="foto">
                        <a href="/"><img src="/images/foto_bryam.jpg" alt="Foto Bryam"></a>
                    </div>
                    <div class="datos">
                        <h1>Bryam Piñeros Hernández</h1>
                        <h2>Tecnólogo en Desarrollo de Software</h2>
                    </div>
                </div>
                <div class="botones">
                    <div class="boton"><a href="/estudios">Estudios</a></div>
                    <div class="boton"><a href="/experiencia">Experiencia Laboral</a></div>
                    <div class="boton active"><a href="/referencias">Referencias Personales</a></div>
                    <div class="boton"><a href="contacto">Contacto</a></div>
                </div>
            </div>
        </section>
        <section class="apartado">
            <div class="titulo">
                <h3>
                    Referencias Personales
                </h3>
            </div>
            <div class="contenido">
                <div class="item">
                    <span class="nombre">
                        Redvers Escobar -
                    </span>
                    <span class="cargo">
                        Desarrollador Web
                    </span>
                    <div class="direccion">
                        316-9998877
                    </div>
                </div>
                <div class="item">
                    <span class="nombre">
                        Camilo González -
                    </span>
                    <span class="cargo">
                        Publicista
                    </span>
                    <div class="direccion">
                        316-3338877
                    </div>
                </div>
                <div class="item">
                    <span class="nombre">
                        Paula Morales -
                    </span>
                    <span class="cargo">
                        Directora de Marketing
                    </span>
                    <div class="direccion">
                        316-3228877
                    </div>
                </div>
                <div class="item">
                    <span class="nombre">
                        Andres García -
                    </span>
                    <span class="cargo">
                        Gerente de Sistemas
                    </span>
                    <div class="direccion">
                        305-2228877
                    </div>
                </div>

            </div>

        </section>
    </body>
</html>